[submodule "backward-cpp"]
	path = backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "test/diff-match-patch-cpp-stl"]
	path = test/diff-match-patch-cpp-stl
	url = https://github.com/leutloff/diff-match-patch-cpp-stl.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
