
# Created by https://www.gitignore.io/api/autotools,c++

### Autotools ###
# http://www.gnu.org/software/automake
# Executables
opennask
expressionsample
statementsample
tokenizersample
intel2gas
fdir
fdstat
fget
fput
dosfsck
mkdosfs

Makefile
Makefile.in
*.img
*.log
*.trs
test-driver
lt*.m4
libtool.m4
.libs/
ar-lib
*.pc
artifacts

# http://www.gnu.org/software/autoconf
*.dirstamp

*/autom4te.cache/*
*/autoscan.log
*/autoscan-*.log
*/aclocal.m4
*/compile
*/config.h.in
*/configure
*/configure.scan
*/depcomp
*/install-sh
*/missing
*/stamp-h1
*/config.*
*/libtool
*/ltmain.sh


/autom4te.cache/*
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config.*
/libtool
/ltmain.sh

*.deps/

### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
